<hgroup class="title">
	<h1>${address_address1}</h1>
	<ul class="list">
		<li><span>${bed_count} Bedrooms</span></li>
		<li><span>${bath_count} Bath</span></li>
		<li><span>${sqft} sqft</span></li>
	</ul>

	<h2>${price}</h2>
</hgroup>